body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

.cabecalho logout {
    
    padding: 20px 20px px px;
}


.cabecalho h1 {
    margin: 0;
    padding: 0;
}

.cabecalho nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cabecalho nav a {
    color: #fff;
    text-decoration: none;
}
.logout{
margin-left: auto; /* Alinha o botão de logout à direita */

}

.conteudo {
    padding: 100px 20px 20px 20px; 
    display: flex;
/*   justify-content: center; */
/*    align-items: center; */
    flex-direction: column;

}

.painelLogin {
    padding: 200px 20px 20px 20px; 
    display: flex;
/*    justify-content: center; */
    align-items: center; 
    flex-direction: column;

}

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

a.botao {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #007BFF; 
    color: #fff; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

 /* Estilos adicionais para o formulário */
      /*  .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 600px;
            margin: 100px auto 20px auto; /* Ajuste a margem superior para o espaço do cabeçalho fixo */
        }*/

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        input[type="text"],input[type="password"],
        textarea {
            width: 25%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }


        button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        button:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }